body {
    background-color: #f5ead7;
}

h1 {
    color: #c4613d;
    font-family: 'Monaco', monospace;
}

.container {
    background-color: #e6ca9a;
    display: flex;
    justify-content: space-evenly;
}

.container:first-child {
    flex-basis: 215%;
    padding: 20px;
}

.column:last-child {
    flex-basis: 85%;
    padding-left: 20px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

#courses {
    flex-basis: 50%;
}

#experience {
    flex-basis: 50%;
}

p {
    color: #543b30;
    font-family: 'Garamond', serif;
}

#courses li {
    color: #543b30;
    font-family: 'Garamond', serif;
}

#experience li {
    color: #543b30;
    font-family: 'Garamond', serif;
}

h3 {
    color: #c4613d;
    font-family: 'Monaco', monospace;
}

nav {
    background-color: #e6ca9a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

nav a {
    color: #749960;
    font-size: 0.75em;
    font-family: 'Monaco', monospace;
}

a:hover {
    color: #543b30;
}
